amarillo = #F9A91A

body
    background-color #f7f7f7


li
    list-style none

.index-txt
    background-color amarillo
li
    list-style none

header
    background-color #F09625
    height 5em
    
header img 
    width 5em
h2
    color white
    padding-left 3%

span
     color #333333
     font-size 2em
     padding-top 25%
section .row
    padding-top 3%
    border-bottom 0.1em solid #333333
    padding-bottom 2%

section img
    border-radius 50%
    width 100%
    padding 3%
