@import 'estudiantes'
@import 'perfil'


amarillo = #F9A91A

body
    background-color #f7f7f7
    color #333333
    //font-size 16px


li
    list-style none

.index-txt
    background-color amarillo
li
    list-style none

header
    background-color #F09625
    height 5em
    
header img 
    width 5em
h2
    color white
    padding-left 3%

span
     color amarillo
     font-size 2em
     padding-top 8%
section .row
    padding-top 3%
    padding-bottom 2%

section img
    border-radius 50%
    width 100%
    padding 3%
///


.btn-index
    background-color amarillo
    margin-left 45%
    margin-top 10%
    font-size 18px

.center-box
    padding-top 30%
.center-box a
    color #333333
    width 60%
    display block
    margin 0 auto
.logo-index
    margin-bottom 10%
